<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,193},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,189},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,157},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,117},{48,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{48,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,141},{52,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,65},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,34},{59,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,111},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,233},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,111},{48,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{48,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,63},{52,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,76},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{59,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,159},{46,40}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{46,40}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,281},{46,40}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,153},{48,38}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{48,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,63},{52,38}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,44},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,247},{46,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,213},{46,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,205},{46,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{46,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,149},{48,38}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{48,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,63},{52,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,23},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,101},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,63},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,97},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,107},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{52,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,199},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,165},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,157},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,187},{48,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{48,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{52,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,55},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>69.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{59,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>71.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,63},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>72.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,149},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>73.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,103},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>74.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,95},{52,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>75.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,34},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>79.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,63},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>mute_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
            <key>restart_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paopaos.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a792cf59d0e96b73a3c344ce5a3f9172:1/1$</string>
            <key>textureFileName</key>
            <string>paopaos.png</string>
        </dict>
    </dict>
</plist>
